* {
    margin: 0;
    padding: 0;
}

main {
    margin: 0 auto;
    width: 80%;
    max-width: 1000px;
}

/* body {
    transition: all 0.3s ease 0.1s;
} */

.post {
    border: 2px solid black;
    border-radius: 5px;
    margin: 8px 0;
    padding: 5px;
}

#header,
#disclaimer {
    padding: 5px;
    margin: 8px 0;
    border: 2px solid black;
    border-radius: 5px;
}

#top-link:hover {
    cursor: pointer;
    background-color: gray;
    transition: background-color 0.3s linear;
}

a,
a:hover,
a:visited,
a:active {
    color: inherit;
}

.num-comments:hover {
    cursor: pointer;
    background-color: gray;
    transition: background-color 0.2s ease;
}

.num-comments {
    transition: background-color 0.2s ease;
    text-decoration: underline;
}

#nav {
    padding: 5px 0;
}

.post-title {
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

#button-box {
    position: sticky;
    background-color: white;
    top: 0;
    z-index: 5;
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
    /* transition: all 0.3s ease 0.1s; */
}

/* #button-box>* {
    transition: all 0.3s ease 0.1s;
} */

/* #all-button {
    border: grey;
    background-color: grey;
} */

.button {
    padding: 3px;
    transition: background-color 0.2s ease;
}

.button:hover {
    cursor: pointer;
    background-color: gray;
    transition: background-color 0.2s ease;
}

.video {
    max-width: 100%;
}

#thumbnail-container {
    border-bottom: 1px solid black;
}

.md {
    margin: 0 auto;
    width: 95%;
    padding: 3px;
    border-radius: 5px;
    word-wrap: break-word;
}

.md>p>*>* {
    max-width: 100%;
    height: auto;
}

.comment-info {
    border: 1px solid black;
    margin: 5px;
    padding: 3px;
    border-radius: 5px;
}

.hide-comments {
    margin-left: 5px;
}

footer {
    bottom: 0;
    padding: 5px;
    margin: 8px 0;
    border: 2px solid black;
    border-radius: 5px;
}